In [1]:
import json
import os
import time
from pandas import json_normalize
import psycopg2
from psycopg2 import sql

import pandas as pd
import requests
from dotenv import load_dotenv

load_dotenv()

access_token = os.getenv("ACCESS_TOKEN")
HOST = os.getenv("HOST")
POSTGRES_DB = os.getenv("POSTGRES_DB")
POSTGRES_USER = os.getenv("POSTGRES_USER")
POSTGRES_PASSWORD = os.getenv("POSTGRES_PASSWORD")


# Informações de conexão com o banco de dados PostgreSQL
db_config = {
    "host": "localhost",
    "database": POSTGRES_DB,
    "user": POSTGRES_USER,
    "password": POSTGRES_PASSWORD,
}

# Registra o tempo antes da execução
start_prog = time.time()

In [2]:
print(access_token)

APP_USR-6628000663056293-110709-26deb175119a3b99fa12abf1a902638f-233632476

## Verificando dados da conta

In [3]:
url = "https://api.mercadolibre.com/users/me"

payload = {}
headers = {
  'Authorization': f'Bearer {access_token}'
}

response = requests.request("GET", url, headers=headers, data=payload)
response = response.text

print(response)

# Encontre posição do início e fim do campo "id"
start_pos = response.find('"id"')  # Encontra onde começa "id"
end_pos = response.find(',', start_pos)  # Encontra onde termina "id"

# Extraia o valor de "id"
seller_id = response[start_pos:end_pos].split(":")[1]
seller_id = seller_id.strip().strip('"')

print(f'O valor de "seller_id" é: {seller_id}')

{"id":233632476,"nickname":"MUSICALCENTERPG","registration_date":"2016-11-05T17:35:04.000-04:00","first_name":"MUSICAL CENTER PONTA","last_name":"GROSSA EIRELI -","gender":"","country_id":"BR","email":"musicalc168@gmail.com","identification":{"number":"10885874000127","type":"CNPJ"},"address":{"address":"Estrada da Gruta 775","city":"Louveira","state":"BR-SP","zip_code":"13290431"},"phone":{"area_code":"19","extension":"","number":"38787702","verified":false},"alternative_phone":{"area_code":"","extension":"","number":""},"user_type":"brand","tags":["brand","large_seller","eshop","mshops","messages_as_seller"],"logo":null,"points":4513,"site_id":"MLB","permalink":"http://perfil.mercadolivre.com.br/MUSICALCENTERPG","seller_experience":"ADVANCED","bill_data":{"accept_credit_note":"Y"},"seller_reputation":{"level_id":"5_green","power_seller_status":"platinum","transactions":{"canceled":1491,"completed":32430,"period":"historic","ratings":{"negative":0.05,"neutral":0.03,"positive":0.92},"total":33921},"metrics":{"sales":{"period":"60 days","completed":8856},"claims":{"period":"60 days","rate":0.0023,"value":22},"delayed_handling_time":{"period":"60 days","rate":0.0027,"value":24},"cancellations":{"period":"60 days","rate":0.0006,"value":6}}},"buyer_reputation":{"canceled_transactions":0,"tags":[],"transactions":{"canceled":{"paid":null,"total":null},"completed":null,"not_yet_rated":{"paid":null,"total":null,"units":null},"period":"historic","total":null,"unrated":{"paid":null,"total":null}}},"status":{"billing":{"allow":true,"codes":[]},"buy":{"allow":true,"codes":[],"immediate_payment":{"reasons":[],"required":false}},"confirmed_email":true,"shopping_cart":{"buy":"allowed","sell":"allowed"},"immediate_payment":false,"list":{"allow":true,"codes":[],"immediate_payment":{"reasons":[],"required":false}},"mercadoenvios":"not_accepted","mercadopago_account_type":"personal","mercadopago_tc_accepted":true,"required_action":null,"sell":{"allow":true,"codes":[],"immediate_payment":{"reasons":[],"required":false}},"site_status":"active","user_type":"complete_registration"},"secure_email":"mmusica.2kmfbv@mail.mercadolivre.com","company":{"brand_name":"MUSICAL CENTER","city_tax_id":"","corporate_name":"MUSICAL CENTER PONTA GROSSA EIRELI -","identification":"10885874000127","state_tax_id":"421102074116","cust_type_id":"BU","soft_descriptor":"MUSICALCENTER"},"credit":{"consumed":12588.04,"credit_level_id":"MLB1","rank":"premium"},"context":{"device":"web-desktop","flow":"normal","ip_address":"177.156.92.94","source":"mercadopago"},"thumbnail":{"picture_id":"985797-MLA40654312205_022020","picture_url":"https://mla-s2-p.mlstatic.com/985797-MLA40654312205_022020-O.jpg"},"registration_identifiers":[]}
O valor de "seller_id" é: 233632476

## Carregando Inventory Ids de Produtos a serem pesquisados

Esses dados podem ser encontrados n coluna 'Código ML' da planilha 'Relação Full x Tiny' em 'Envios Full.xlsx'

In [4]:
# Especifica caminho para o arquivo Excel
caminho_arquivo_excel = r'../Data/Base/Envios Full.xlsx'

# Especifica nome da planilha
nome_planilha = 'Relação Full x Tiny'

# Especifica nome da coluna que deseja carregar
coluna1 = 'Código ML' 
coluna2 = 'ID do anúncio'
coluna3 = 'ID Tiny'

# Df com colunas específicas
df_ml_estoque_id = pd.read_excel(caminho_arquivo_excel, sheet_name=nome_planilha, usecols=[coluna1,coluna2,coluna3])

# Adiciona prefixo "MLB" a cada linha na coluna especificada
# df_ml_id['ID do anúncio'] = 'MLB' + df_ml_id['ID do anúncio'].astype(str)

# Tamanho do df
df_ml_estoque_id.shape

(885, 3)

In [6]:
# Crie um DataFrame com valores não nulos em 'Código ML'
df_ml_id_no_null = df_ml_estoque_id[~pd.isnull(df_ml_estoque_id['Código ML'])]
df_ml_id_no_null.to_csv('../Data/Output/df_ml_id_no_null.csv', index=False)

# Crie um DataFrame com valores nulos em 'Código ML'
df_ml_id_with_null = df_ml_estoque_id[pd.isnull(df_ml_estoque_id['Código ML'])]
df_ml_id_with_null.to_csv('../Data/Output/df_ml_id_with_null.csv', index=False)

In [7]:
# Verifica se há duplicatas
duplicates = df_ml_id_no_null.duplicated()
n_dup = duplicates.sum()

print(f'Número de duplicatas: {n_dup}')

# Encontre as duplicatas no DataFrame
duplicates = df_ml_id_no_null[df_ml_id_no_null.duplicated(keep=False)]

# Exiba as próprias duplicatas
duplicates

Número de duplicatas: 13

     Código ML  ID do anúncio    ID Tiny
52   KVWJ40778     1233445054  506979980
53   KVWJ40778     1233445054  506979980
252  OFYI79568     1509021649  561968045
253  OFYI79568     1509021649  561968045
269  WXUT79339     1512798100  681951269
270  WXUT79339     1512798100  681951269
272  TDFP80328     1512860650  561967156
273  TDFP80328     1512860650  561967156
285  DUCB06017     1557290709  512617044
286  DUCB06017     1557290709  512617044
287  SSBF06040     1557306058  512617044
288  SSBF06040     1557306058  512617044
289  OVRP11252     1564998298  754085190
290  OVRP11252     1564998298  754085190
339  DGLC87134     1662812681  752988213
340  DGLC87134     1662812681  752988213
387  YNOM43193     1714611718  605170097
388  YNOM43193     1714611718  605170097
455  UCDR32919     1847067851  723638523
456  UCDR32919     1847067851  723638523
465  KKOU90189     1937452277  603940689
466  KKOU90189     1937452277  746248995
467  KKOU90189     1937452277  603940689
468  KKOU90189     1937452277  746248995
744  IYUQ71257     2192258271  737198870
745  IYUQ71257     2192258271  737198870

In [8]:
# Remove as duplicatas e atualiza o DataFrame
df_ml_id_no_dup = df_ml_id_no_null.drop_duplicates()

df_ml_id_no_dup.shape

(754, 3)

In [9]:
# Qtd de itens sem Inventory ID
df_ml_id_with_null.shape

(118, 3)

In [10]:
df_ml_id_no_dup.head(1)

   Código ML  ID do anúncio    ID Tiny
0  JFGN34621      924922735  509517168

In [11]:
df_ml_ids = df_ml_id_no_dup.copy()

In [12]:
df_ml_ids.columns = ['ml_inventory_id', 'ml_code', 'tiny_id']
df_ml_ids.columns

Index(['ml_inventory_id', 'ml_code', 'tiny_id'], dtype='object')

In [13]:
df_ml_ids.head(1)

  ml_inventory_id    ml_code    tiny_id
0       JFGN34621  924922735  509517168

## Populando tabela tiny_ml_codes no DB

In [14]:

# Ela contém a relação entre tiny_id e inventory_id do ML 
# e não permite pares de valores duplicados entre (ml_inventory_id, tiny_id)

conn = psycopg2.connect(**db_config)

cursor = conn.cursor()

for index, row in df_ml_ids.iterrows():
    insert_query = sql.SQL("INSERT INTO tiny_ml_codes (ml_inventory_id, ml_code, tiny_id) VALUES (%s, %s, %s)")
    cursor.execute(insert_query, (row['ml_inventory_id'], row['ml_code'], row['tiny_id']))

conn.commit()

# Feche o cursor e a conexão
cursor.close()
conn.close()
print('Dados inseridos com sucesso!')

Dados inseridos com sucesso!

## Pegando Estoque de FulFillment

In [53]:
conn = psycopg2.connect(**db_config)

sql_query = "SELECT * FROM tiny_ml_codes"

df_codes = pd.read_sql(sql_query, conn)

df_codes.head(1)

C:\Users\couti\AppData\Local\Temp\ipykernel_18956\1288080312.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_codes = pd.read_sql(sql_query, conn)

     tiny_id ml_inventory_id    ml_code                 created_at updated_at
0  509517168       JFGN34621  924922735 2023-11-07 15:46:15.284630       None

In [54]:
df_codes.shape

(754, 5)

In [55]:
counter = 0
json_list = []

# df_codes = df_codes.head(25)

for item in df_codes['ml_inventory_id']:
    url = f"https://api.mercadolibre.com/inventories/{item}/stock/fulfillment"

    payload = {}
    headers = {
        'Authorization': f'Bearer {access_token}'
    }
    print(f'Buscando dados de: {item}')

    response = requests.get(url, headers=headers, data=payload)
    response_data = response.json()

    json_list.append(response_data)
    
    counter += 1
    
    if counter % 50 == 0:
        print(f"Fazendo uma pausa de 1 minuto...")
        time.sleep(60)

Buscando dados de: JFGN34621
Buscando dados de: ERIM51807
Buscando dados de: HVCS52763
Buscando dados de: ZQIV51979
Buscando dados de: RBUB53192
Buscando dados de: FXMN50419
Buscando dados de: TDFV51283
Buscando dados de: PKNN52962
Buscando dados de: MAEG54107
Buscando dados de: RYWV54124
Buscando dados de: VIKN53907
Buscando dados de: MNSV53911
Buscando dados de: IXGP53982
Buscando dados de: XPLS45081
Buscando dados de: UWGO53377
Buscando dados de: KVWJ40778
Buscando dados de: KBLG86592
Buscando dados de: APFU85474
Buscando dados de: CCQW73335
Buscando dados de: DXJZ75064
Buscando dados de: JDMV76187
Buscando dados de: RJUL81287
Buscando dados de: TNXB83665
Buscando dados de: CIKE94068
Buscando dados de: HGUJ21007
Buscando dados de: ZXFT21237
Buscando dados de: KBOK20943
Buscando dados de: MENA20785
Buscando dados de: CQAQ20361
Buscando dados de: HXJD21466
Buscando dados de: GSNC20904
Buscando dados de: FRDZ21133
Buscando dados de: CNHG19808
Buscando dados de: DJDL21105
Buscando dados de: ABCB20467
Buscando dados de: GLMK21133
Buscando dados de: VSPW20405
Buscando dados de: HTEZ21817
Buscando dados de: FVTQ20181
Buscando dados de: DCPP20168
Buscando dados de: TXWS20511
Buscando dados de: XNOG20357
Buscando dados de: VSPW20414
Buscando dados de: PNST20989
Buscando dados de: EFTF21179
Buscando dados de: ZZGN21450
Buscando dados de: KBOK20958
Buscando dados de: NQUG25995
Buscando dados de: WIZE26428
Buscando dados de: EDGX26018
Fazendo uma pausa de 1 minuto...
Buscando dados de: MHXR26588
Buscando dados de: YULB32421
Buscando dados de: XYHC31118
Buscando dados de: SJIT31691
Buscando dados de: ZZRV30730
Buscando dados de: ITMG31457
Buscando dados de: NWXH31984
Buscando dados de: KRJP31426
Buscando dados de: BOWK32167
Buscando dados de: SDNY53354
Buscando dados de: UQFO31564
Buscando dados de: SCKP53673
Buscando dados de: SCVF31712
Buscando dados de: MLVG32506
Buscando dados de: XDTG30724
Buscando dados de: WGMG31517
Buscando dados de: PIJL35032
Buscando dados de: TSVR34841
Buscando dados de: HXJD35755
Buscando dados de: MOPJ35239
Buscando dados de: YFPE35294
Buscando dados de: LOBM34255
Buscando dados de: SCVF34936
Buscando dados de: IRUD34507
Buscando dados de: SPKV34936
Buscando dados de: MLBD34168
Buscando dados de: HXTD35130
Buscando dados de: NDSR34802
Buscando dados de: KMCL36196
Buscando dados de: KZKR34697
Buscando dados de: CNZA40249
Buscando dados de: PUOF39813
Buscando dados de: NWNJ40190
Buscando dados de: DJDL39884
Buscando dados de: QQYF40190
Buscando dados de: PWQU39543
Buscando dados de: PUCU39562
Buscando dados de: NVCZ40905
Buscando dados de: MOPJ40556
Buscando dados de: GMII40296
Buscando dados de: MTUF40103
Buscando dados de: KBPU39930
Buscando dados de: PUCU38477
Buscando dados de: PUOF38682
Buscando dados de: TLCG38735
Buscando dados de: TPDH38567
Buscando dados de: PNST39536
Buscando dados de: YAZB38863
Buscando dados de: GPGU38258
Buscando dados de: QECH38844
Fazendo uma pausa de 1 minuto...
Buscando dados de: QWYC39504
Buscando dados de: AIRQ38676
Buscando dados de: JGRW38703
Buscando dados de: JJMG39331
Buscando dados de: EULX39562
Buscando dados de: JEOL44901
Buscando dados de: UBQC44938
Buscando dados de: QOGG45483
Buscando dados de: UQXH45757
Buscando dados de: RJOI45611
Buscando dados de: EIKS49529
Buscando dados de: NWXH48678
Buscando dados de: AGDL48856
Buscando dados de: XBGF48684
Buscando dados de: ONCS48147
Buscando dados de: FRPG47185
Buscando dados de: SPME48894
Buscando dados de: WGMG44862
Buscando dados de: MENA63204
Buscando dados de: XDTG62876
Buscando dados de: STLG62905
Buscando dados de: USMG62797
Buscando dados de: GLMK46167
Buscando dados de: NQUG25995
Buscando dados de: SKXW47953
Buscando dados de: VGBX48763
Buscando dados de: DCPP47589
Buscando dados de: YLXH47246
Buscando dados de: BOWK48319
Buscando dados de: PVKY65418
Buscando dados de: CNHG47042
Buscando dados de: WOXA67988
Buscando dados de: YLXH65172
Buscando dados de: PGZF52106
Buscando dados de: PROW53057
Buscando dados de: GMII66042
Buscando dados de: EIKS67696
Buscando dados de: KMCL67683
Buscando dados de: MOPJ68115
Buscando dados de: WRRA65769
Buscando dados de: PWQU66026
Buscando dados de: CJBY66878
Buscando dados de: CNHG66088
Buscando dados de: KBPU47781
Buscando dados de: MHXR66570
Buscando dados de: WIZE67325
Buscando dados de: WIZE67339
Buscando dados de: NWNJ47884
Buscando dados de: HXJD67665
Buscando dados de: SKXW65690
Fazendo uma pausa de 1 minuto...
Buscando dados de: KNPR48414
Buscando dados de: XGSW66673
Buscando dados de: XYHC65769
Buscando dados de: ELMX65898
Buscando dados de: ZZRV46957
Buscando dados de: GLMK66383
Buscando dados de: VFWO46990
Buscando dados de: XYHC47429
Buscando dados de: WGMG48199
Buscando dados de: JGRW47504
Buscando dados de: VFWO47003
Buscando dados de: EDGP47752
Buscando dados de: DILI48467
Buscando dados de: YULB48792
Buscando dados de: LNLA50194
Buscando dados de: KAGR47752
Buscando dados de: ABCB48480
Buscando dados de: CZLZ48293
Buscando dados de: JJMG49643
Buscando dados de: SKXW48728
Buscando dados de: DJDL49028
Buscando dados de: MBUB49092
Buscando dados de: ELMX48467
Buscando dados de: AGDL67547
Buscando dados de: JNYZ66723
Buscando dados de: LDBL64899
Buscando dados de: MOPJ68127
Buscando dados de: AGDL67534
Buscando dados de: WRRA54468
Buscando dados de: WNYY55014
Buscando dados de: ENML56386
Buscando dados de: GMII57127
Buscando dados de: AIRQ56994
Buscando dados de: MYSJ58683
Buscando dados de: VSPW57767
Buscando dados de: YAZB56533
Buscando dados de: SSGO43954
Buscando dados de: SPKV63227
Buscando dados de: CMXV62869
Buscando dados de: ELKX63703
Buscando dados de: MHXR70863
Buscando dados de: MENA66694
Buscando dados de: WXUT71108
Buscando dados de: ENML70567
Buscando dados de: BUEW70598
Buscando dados de: JMQF70068
Buscando dados de: LEZR73049
Buscando dados de: SCVF71741
Buscando dados de: TKMI71532
Buscando dados de: PNST71108
Fazendo uma pausa de 1 minuto...
Buscando dados de: GLMK71067
Buscando dados de: VFWO70372
Buscando dados de: EDGX70669
Buscando dados de: KYGE71098
Buscando dados de: LDBL69476
Buscando dados de: PUCU70522
Buscando dados de: MYSJ73106
Buscando dados de: YLXH69469
Buscando dados de: PTKV77554
Buscando dados de: MHXR79356
Buscando dados de: ONCS79608
Buscando dados de: KZKR79237
Buscando dados de: JCHW78402
Buscando dados de: OFYI79568
Buscando dados de: MOPJ80513
Buscando dados de: JNYZ79893
Buscando dados de: NMEY79534
Buscando dados de: LNLA80033
Buscando dados de: DILI80300
Buscando dados de: FBAY80623
Buscando dados de: TOBK79053
Buscando dados de: TDFP80337
Buscando dados de: GWCT79935
Buscando dados de: XGSW79829
Buscando dados de: GSNC79665
Buscando dados de: VLEY81900
Buscando dados de: WRRA78397
Buscando dados de: MTUF81176
Buscando dados de: TPDH78711
Buscando dados de: WXUT79339
Buscando dados de: BGQA78977
Buscando dados de: TDFP80328
Buscando dados de: EIKS79736
Buscando dados de: GGVT80359
Buscando dados de: FFIA05428
Buscando dados de: FFIA05428
Buscando dados de: DZVJ05686
Buscando dados de: DZVJ05686
Buscando dados de: DODL05588
Buscando dados de: TPGO05400
Buscando dados de: GHGI05503
Buscando dados de: HVCS05865
Buscando dados de: LCQI05883
Buscando dados de: DUCB06017
Buscando dados de: SSBF06040
Buscando dados de: OVRP11252
Buscando dados de: OXVU12317
Buscando dados de: ELKB12099
Buscando dados de: YWET11585
Buscando dados de: QWOU12477
Fazendo uma pausa de 1 minuto...
Buscando dados de: XGVG11805
Buscando dados de: DKPY44521
Buscando dados de: JHQW43456
Buscando dados de: LKXA44509
Buscando dados de: CPNS45630
Buscando dados de: JGED44177
Buscando dados de: ZOQD44760
Buscando dados de: OXVU46285
Buscando dados de: EAFF51055
Buscando dados de: HVKU51040
Buscando dados de: YWWR52012
Buscando dados de: STVL50604
Buscando dados de: PAGJ50997
Buscando dados de: PKNN50777
Buscando dados de: QHVP51310
Buscando dados de: FFIA52697
Buscando dados de: HFNJ52229
Buscando dados de: UIUW52962
Buscando dados de: JLFV52818
Buscando dados de: YWET52700
Buscando dados de: ZOQD52873
Buscando dados de: YWET52744
Buscando dados de: LGAM52077
Buscando dados de: RIXS53464
Buscando dados de: VDLF53969
Buscando dados de: KGXH53279
Buscando dados de: WTQW54410
Buscando dados de: UKNM52020
Buscando dados de: BESH52678
Buscando dados de: DGLC52390
Buscando dados de: AZZD53396
Buscando dados de: MNSV53924
Buscando dados de: WFEX53455
Buscando dados de: JGED52238
Buscando dados de: VBZZ52467
Buscando dados de: WCNJ53438
Buscando dados de: NOMF53205
Buscando dados de: AZVM53003
Buscando dados de: FXEK57999
Buscando dados de: TDFV63109
Buscando dados de: ACBY18022
Buscando dados de: ERIM88159
Buscando dados de: MAEG89052
Buscando dados de: WTQW89994
Buscando dados de: DGLC87134
Buscando dados de: GDCT87609
Buscando dados de: EAFF88171
Buscando dados de: PKNN89551
Buscando dados de: CRMK90073
Buscando dados de: LKXA87678
Fazendo uma pausa de 1 minuto...
Buscando dados de: UIUW89800
Buscando dados de: FFTO88214
Buscando dados de: NFWV90018
Buscando dados de: FXMN93847
Buscando dados de: KAGG94047
Buscando dados de: IVEV94939
Buscando dados de: PPPR94184
Buscando dados de: YWET94081
Buscando dados de: BMXD90297
Buscando dados de: GASE87293
Buscando dados de: OXVU91185
Buscando dados de: CIQM89262
Buscando dados de: DIAC90428
Buscando dados de: GHRU91349
Buscando dados de: LCQI92235
Buscando dados de: LGAM89338
Buscando dados de: PCCQ95990
Buscando dados de: CIQM94624
Buscando dados de: FXWQ84644
Buscando dados de: GDCD86898
Buscando dados de: JTVE75489
Buscando dados de: KJXP85950
Buscando dados de: NLRD82002
Buscando dados de: XLOL37103
Buscando dados de: VUZF85658
Buscando dados de: IBGO88267
Buscando dados de: UJHN75001
Buscando dados de: FAGW75220
Buscando dados de: FBIK79599
Buscando dados de: SMBG76643
Buscando dados de: GOHD79727
Buscando dados de: XEKB89386
Buscando dados de: CIKE84119
Buscando dados de: TBXI78268
Buscando dados de: ARNS84415
Buscando dados de: GNRT84220
Buscando dados de: SGSO37914
Buscando dados de: RPWP01329
Buscando dados de: JOGC89676
Buscando dados de: CVKY43138
Buscando dados de: SFLS43252
Buscando dados de: YNOM43193
Buscando dados de: VENQ42900
Buscando dados de: WPTR42944
Buscando dados de: KZPH43186
Buscando dados de: RWUL42622
Buscando dados de: PKBL91312
Buscando dados de: AXTL77740
Buscando dados de: JVFD44858
Buscando dados de: JWYV46445
Fazendo uma pausa de 1 minuto...
Buscando dados de: FYQG46864
Buscando dados de: HSOI46271
Buscando dados de: JEMK46649
Buscando dados de: CHXM44787
Buscando dados de: WPTR45973
Buscando dados de: WMEZ45941
Buscando dados de: URBA46151
Buscando dados de: PIWV46838
Buscando dados de: LWVS46259
Buscando dados de: CHXM44815
Buscando dados de: GONX45892
Buscando dados de: GFKL45291
Buscando dados de: YQFX46259
Buscando dados de: PWLH46237
Buscando dados de: UWHQ45987
Buscando dados de: RLWO47035
Buscando dados de: HMLH45859
Buscando dados de: TPIO46612
Buscando dados de: ADJX46855
Buscando dados de: QQCH89289
Buscando dados de: GFMX59101
Buscando dados de: SYZS70682
Buscando dados de: YQWM74245
Buscando dados de: QXZV73342
Buscando dados de: YIKC84685
Buscando dados de: DWNN86592
Buscando dados de: HEYT85207
Buscando dados de: RIPL75778
Buscando dados de: YQWM23606
Buscando dados de: EMNB76881
Buscando dados de: JOGC74297
Buscando dados de: GHFV89567
Buscando dados de: BHEZ89925
Buscando dados de: UCYX71938
Buscando dados de: ZLXB85346
Buscando dados de: HLLG89863
Buscando dados de: XYTI88625
Buscando dados de: NVBC14620
Buscando dados de: JFLO17555
Buscando dados de: OQVC17160
Buscando dados de: UTKO14988
Buscando dados de: ADRN17806
Buscando dados de: JOGC18300
Buscando dados de: EYIZ78603
Buscando dados de: JDTL81315
Buscando dados de: JDTL81315
Buscando dados de: JDTL81315
Buscando dados de: JDTL81315
Buscando dados de: FTGG16520
Buscando dados de: FTGG16520
Fazendo uma pausa de 1 minuto...
Buscando dados de: FTGG16520
Buscando dados de: FTGG16520
Buscando dados de: ZDLT16176
Buscando dados de: ZDLT16176
Buscando dados de: ZDLT16176
Buscando dados de: ZDLT16176
Buscando dados de: EDHV29406
Buscando dados de: GUSW29256
Buscando dados de: UCDR32919
Buscando dados de: WPGI76636
Buscando dados de: IVOT73839
Buscando dados de: EDHV75882
Buscando dados de: TWSR76783
Buscando dados de: ESDV75368
Buscando dados de: VHLM77928
Buscando dados de: QGSQ77698
Buscando dados de: OWZF76125
Buscando dados de: KKOU90189
Buscando dados de: KKOU90189
Buscando dados de: BOZK72331
Buscando dados de: BOZK72331
Buscando dados de: ROAL74330
Buscando dados de: CIKE79030
Buscando dados de: WQLG77218
Buscando dados de: WQLG77218
Buscando dados de: WQLG77218
Buscando dados de: WQLG77218
Buscando dados de: DMTU81740
Buscando dados de: DMTU81740
Buscando dados de: DMTU81740
Buscando dados de: DMTU81740
Buscando dados de: DMTU81740
Buscando dados de: KMCE82136
Buscando dados de: KMCE82136
Buscando dados de: KMCE82136
Buscando dados de: KMCE82136
Buscando dados de: KMCE82136
Buscando dados de: FSNB76403
Buscando dados de: FSNB76403
Buscando dados de: FSNB76403
Buscando dados de: FSNB76403
Buscando dados de: FSNB76403
Buscando dados de: ITDN80392
Buscando dados de: ITDN80392
Buscando dados de: ITDN80392
Buscando dados de: ITDN80392
Buscando dados de: ITDN80392
Buscando dados de: LCUY78585
Buscando dados de: JFGN91429
Buscando dados de: EMJF86603
Fazendo uma pausa de 1 minuto...
Buscando dados de: EJRL85435
Buscando dados de: JJPQ91897
Buscando dados de: ITDN89121
Buscando dados de: IPQB89761
Buscando dados de: KVNV88377
Buscando dados de: KFYZ87894
Buscando dados de: INVG92702
Buscando dados de: WOJB37093
Buscando dados de: ZEWV91930
Buscando dados de: ZEWV91930
Buscando dados de: ZEWV91930
Buscando dados de: ZEWV91930
Buscando dados de: NKRN92702
Buscando dados de: NKRN92702
Buscando dados de: NKRN92702
Buscando dados de: NKRN92702
Buscando dados de: JAOF95919
Buscando dados de: JAOF95919
Buscando dados de: JAOF95919
Buscando dados de: JAOF95919
Buscando dados de: OBBV97965
Buscando dados de: VUYV97753
Buscando dados de: ITSG97062
Buscando dados de: JSMU98097
Buscando dados de: AOLT03050
Buscando dados de: AOLT03050
Buscando dados de: AOLT03050
Buscando dados de: AOLT03050
Buscando dados de: PSMV02965
Buscando dados de: VXCN97101
Buscando dados de: QTPB03410
Buscando dados de: CLMF99895
Buscando dados de: LNUD04074
Buscando dados de: LUHT04035
Buscando dados de: XGNL04251
Buscando dados de: DSGP06967
Buscando dados de: DSGP06979
Buscando dados de: JJSZ06277
Buscando dados de: MZLX96272
Buscando dados de: ELQK04205
Buscando dados de: FSNB97805
Buscando dados de: YXIW04349
Buscando dados de: TNXB03680
Buscando dados de: TNXB03680
Buscando dados de: TNXB03680
Buscando dados de: TAPQ03701
Buscando dados de: THQG03596
Buscando dados de: JKBQ98755
Buscando dados de: JKBQ98755
Buscando dados de: JKBQ98755
Fazendo uma pausa de 1 minuto...
Buscando dados de: JKBQ98755
Buscando dados de: MPTT03772
Buscando dados de: DBBD03410
Buscando dados de: IYUQ03362
Buscando dados de: IYUQ03362
Buscando dados de: IYUQ03362
Buscando dados de: IYUQ03362
Buscando dados de: ZJCO04233
Buscando dados de: QRSL03944
Buscando dados de: QRSL03944
Buscando dados de: QRSL03944
Buscando dados de: QRSL03944
Buscando dados de: WEPI04061
Buscando dados de: WEPI04061
Buscando dados de: WEPI04061
Buscando dados de: WEPI04061
Buscando dados de: WTHI04163
Buscando dados de: ITQQ97036
Buscando dados de: PNZZ04589
Buscando dados de: PNZZ04589
Buscando dados de: PNZZ04589
Buscando dados de: PNZZ04589
Buscando dados de: OSQG97983
Buscando dados de: YZGH03888
Buscando dados de: YZGH03888
Buscando dados de: YZGH03888
Buscando dados de: YZGH03888
Buscando dados de: YDQA03755
Buscando dados de: THQG04019
Buscando dados de: THQG04019
Buscando dados de: THQG04019
Buscando dados de: THQG04019
Buscando dados de: HKMH99637
Buscando dados de: HKMH99637
Buscando dados de: HKMH99637
Buscando dados de: HKMH99637
Buscando dados de: VLAM67568
Buscando dados de: YRHK04781
Buscando dados de: YRHK04781
Buscando dados de: YRHK04781
Buscando dados de: YRHK04781
Buscando dados de: OLCT05266
Buscando dados de: WHCM05158
Buscando dados de: JDOJ98857
Buscando dados de: JDOJ98857
Buscando dados de: JDOJ98857
Buscando dados de: JDOJ98857
Buscando dados de: VAJM34569
Buscando dados de: VAJM34569
Buscando dados de: VAJM34569
Fazendo uma pausa de 1 minuto...
Buscando dados de: VAJM34569
Buscando dados de: BPGQ10723
Buscando dados de: NTFP39349
Buscando dados de: NTFP39349
Buscando dados de: NTFP39349
Buscando dados de: NTFP39349
Buscando dados de: AWAZ99732
Buscando dados de: ITND36634
Buscando dados de: SCIV21840
Buscando dados de: ZJTW10331
Buscando dados de: ZJTW10331
Buscando dados de: ZJTW10331
Buscando dados de: ZJTW10331
Buscando dados de: QCVC39144
Buscando dados de: QCVC39144
Buscando dados de: QCVC39144
Buscando dados de: QCVC39144
Buscando dados de: NHQO05910
Buscando dados de: OKDI38047
Buscando dados de: OKDI38047
Buscando dados de: OKDI38047
Buscando dados de: OKDI38047
Buscando dados de: AVOX05934
Buscando dados de: ZZQL21216
Buscando dados de: WJIT31909
Buscando dados de: WJIT31909
Buscando dados de: WJIT31909
Buscando dados de: WJIT31909
Buscando dados de: HNWI37644
Buscando dados de: QZJR06663
Buscando dados de: QZJR06663
Buscando dados de: QZJR06663
Buscando dados de: QZJR06663
Buscando dados de: TIOX11058
Buscando dados de: TIOX11058
Buscando dados de: TIOX11058
Buscando dados de: TIOX11058
Buscando dados de: ZJTW06594
Buscando dados de: HGRL10383
Buscando dados de: HGRL10383
Buscando dados de: HGRL10383
Buscando dados de: HGRL10383
Buscando dados de: BPGQ06190
Buscando dados de: DHEV27121
Buscando dados de: DHEV27121
Buscando dados de: DHEV27121
Buscando dados de: DHEV27121
Buscando dados de: BZEY80870
Buscando dados de: BZEY80870
Buscando dados de: BZEY80870
Fazendo uma pausa de 1 minuto...
Buscando dados de: BZEY80870
Buscando dados de: MSPZ76749
Buscando dados de: MSPZ76749
Buscando dados de: MSPZ76749
Buscando dados de: MSPZ76749
Buscando dados de: NJRG06721
Buscando dados de: NJRG06721
Buscando dados de: NJRG06721
Buscando dados de: NJRG06721
Buscando dados de: RTIZ80917
Buscando dados de: RTIZ80917
Buscando dados de: RTIZ80917
Buscando dados de: RTIZ80917
Buscando dados de: YUZF74492
Buscando dados de: YUZF74492
Buscando dados de: YUZF74492
Buscando dados de: YUZF74492
Buscando dados de: JLAX10536
Buscando dados de: ESVG06709
Buscando dados de: ESVG06709
Buscando dados de: ESVG06709
Buscando dados de: ESVG06709
Buscando dados de: AJZG23550
Buscando dados de: HSDO10298
Buscando dados de: PZZB07005
Buscando dados de: FHRY17474
Buscando dados de: RCLZ06797
Buscando dados de: JIRM06161
Buscando dados de: EATC35944
Buscando dados de: EATC35944
Buscando dados de: EATC35944
Buscando dados de: EATC35944
Buscando dados de: TIOX38546
Buscando dados de: TIOX38546
Buscando dados de: TIOX38546
Buscando dados de: TIOX38546
Buscando dados de: NZGA07022
Buscando dados de: NZGA07022
Buscando dados de: NZGA07022
Buscando dados de: NZGA07022
Buscando dados de: FZQP10396
Buscando dados de: FZQP10396
Buscando dados de: FZQP10396
Buscando dados de: FZQP10396
Buscando dados de: CDBO10673
Buscando dados de: GSZI06869
Buscando dados de: GSZI06869
Buscando dados de: GSZI06869
Buscando dados de: GSZI06869
Buscando dados de: YMJN07005
Fazendo uma pausa de 1 minuto...
Buscando dados de: PMPX06029
Buscando dados de: VUJI10625
Buscando dados de: RVHF10897
Buscando dados de: HFEB10246
Buscando dados de: HFEB10246
Buscando dados de: HFEB10246
Buscando dados de: HFEB10246
Buscando dados de: CDBO11155
Buscando dados de: VFZN11384
Buscando dados de: THDJ11172
Buscando dados de: DCGQ72320
Buscando dados de: JPOV78690
Buscando dados de: LESW73286
Buscando dados de: XYRN72687
Buscando dados de: NIPX18741
Buscando dados de: POPO18550
Buscando dados de: UMNA18288
Buscando dados de: YTYV17118
Buscando dados de: ZUIU17173
Buscando dados de: QGSQ77698
Buscando dados de: FHRY37807
Buscando dados de: JICW37518
Buscando dados de: JICW37518
Buscando dados de: HSDO37848

In [57]:
len(json_list)

754

In [58]:
copy_json_list = list(json_list)


df = pd.DataFrame(copy_json_list)

df_er = json_normalize(copy_json_list, record_path='external_references', meta=['inventory_id', 'total', 'available_quantity', 'not_available_quantity', 'not_available_detail'])
df_nad = json_normalize(copy_json_list, record_path='not_available_detail', meta=['inventory_id', 'total', 'available_quantity', 'not_available_quantity', 'external_references'])


print('df',df.shape)
print('df_er',df_er.shape)
print('df_nad',df_nad.shape)

df_er.head(3)

df (754, 6)
df_er (754, 8)
df_nad (81, 7)

,type,id,variation_id,inventory_id,total,available_quantity,not_available_quantity,not_available_detail
0,item,MLB924922735,NaN,JFGN34621,71,71,0,[]
1,item,MLB949788598,NaN,ERIM51807,36,33,3,"[{'status': 'transfer', 'quantity': 3}]"
2,item,MLB950214971,NaN,HVCS52763,3,1,2,"[{'status': 'transfer', 'quantity': 2}]"

In [59]:
df_nad.head(3)

,status,quantity,inventory_id,total,available_quantity,not_available_quantity,external_references
0,transfer,3,ERIM51807,36,33,3,"[{'type': 'item', 'id': 'MLB949788598'}]"
1,transfer,2,HVCS52763,3,1,2,"[{'type': 'item', 'id': 'MLB950214971'}]"
2,transfer,3,RBUB53192,21,18,3,"[{'type': 'item', 'id': 'MLB950295955'}]"

In [60]:
x = df_nad[df_nad['inventory_id'] == 'ERIM51807']
y = df_er[df_er['inventory_id'] == 'ERIM51807']

x

,status,quantity,inventory_id,total,available_quantity,not_available_quantity,external_references
0,transfer,3,ERIM51807,36,33,3,"[{'type': 'item', 'id': 'MLB949788598'}]"

In [61]:
y

,type,id,variation_id,inventory_id,total,available_quantity,not_available_quantity,not_available_detail
1,item,MLB949788598,NaN,ERIM51807,36,33,3,"[{'status': 'transfer', 'quantity': 3}]"

In [62]:
print(df_nad.columns)
print(df_er.columns)

Index(['status', 'quantity', 'inventory_id', 'total', 'available_quantity',
       'not_available_quantity', 'external_references'],
      dtype='object')
Index(['type', 'id', 'variation_id', 'inventory_id', 'total',
       'available_quantity', 'not_available_quantity', 'not_available_detail'],
      dtype='object')

In [63]:
df_nad_ = df_nad.drop(columns='external_references')
df_er_ = df_er.drop(columns='not_available_detail')

In [64]:
common_cols = ['inventory_id', 'total', 'available_quantity', 'not_available_quantity']
# df_fulfillment = df_er_.merge(df_nad_, on=common_cols, how='left', suffixes=('_er','_nad'))
df_fulfillment = df_er_.merge(df_nad_, on=common_cols, how='left')

df_fulfillment.shape

(821, 9)

In [65]:
df_fulfillment.head(1)

,type,id,variation_id,inventory_id,total,available_quantity,not_available_quantity,status,quantity
0,item,MLB924922735,NaN,JFGN34621,71,71,0,NaN,NaN

In [66]:
map_cols = {'inventory_id': 'ml_inventory_id', 'id': 'ml_item_id', 'status': 'nad_status','quantity':'nad_quantity'}
df_fulfillment = df_fulfillment.rename(columns=map_cols)
order_col = ['ml_inventory_id','ml_item_id','variation_id','nad_status','nad_quantity','total','available_quantity','not_available_quantity','type']
df_fulfillment = df_fulfillment[order_col]

df_fulfillment.head(1)

,ml_inventory_id,ml_item_id,variation_id,nad_status,nad_quantity,total,available_quantity,not_available_quantity,type
0,JFGN34621,MLB924922735,NaN,NaN,NaN,71,71,0,item

In [67]:
df_fulfillment.shape

(821, 9)

In [68]:
df_fulfillment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 821 entries, 0 to 820
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ml_inventory_id         821 non-null    object
 1   ml_item_id              821 non-null    object
 2   variation_id            313 non-null    float64
 3   nad_status              143 non-null    object
 4   nad_quantity            143 non-null    float64
 5   total                   821 non-null    object
 6   available_quantity      821 non-null    object
 7   not_available_quantity  821 non-null    object
 8   type                    821 non-null    object
dtypes: float64(2), object(7)
memory usage: 57.9+ KB

In [69]:
df_fulfillment['variation_id'] = df_fulfillment['variation_id'].astype(str)
df_fulfillment['nad_quantity'] = df_fulfillment['nad_quantity'].fillna(0).astype(int)

In [70]:
df_fulfillment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 821 entries, 0 to 820
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ml_inventory_id         821 non-null    object
 1   ml_item_id              821 non-null    object
 2   variation_id            821 non-null    object
 3   nad_status              143 non-null    object
 4   nad_quantity            821 non-null    int32
 5   total                   821 non-null    object
 6   available_quantity      821 non-null    object
 7   not_available_quantity  821 non-null    object
 8   type                    821 non-null    object
dtypes: int32(1), object(8)
memory usage: 54.6+ KB

In [71]:
import psycopg2
from psycopg2 import sql

# Suponha que você já tenha seu DataFrame df_fulfillment

# Conecte-se ao banco de dados
conn = psycopg2.connect(**db_config)
cursor = conn.cursor()

# Itere pelas linhas do DataFrame e insira os dados na tabela
for index, row in df_fulfillment.iterrows():
    insert_query = sql.SQL("""
        INSERT INTO ml_fulfillment3 (ml_inventory_id, ml_item_id, variation_id, nad_status, nad_quantity, total, available_quantity, not_available_quantity, type)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
    """)
    cursor.execute(insert_query, (row['ml_inventory_id'], row['ml_item_id'], row['variation_id'], row['nad_status'], row['nad_quantity'], row['total'], row['available_quantity'], row['not_available_quantity'], row['type']))

# Confirme as alterações
conn.commit()

# Feche o cursor e a conexão
cursor.close()
conn.close()

print('Dados inseridos com sucesso!')

Dados inseridos com sucesso!