## Populando a tabela de códigos

In [56]:
import os
import time
from pandas import json_normalize
import psycopg2
from psycopg2 import sql

import pandas as pd
from dotenv import load_dotenv

load_dotenv()

access_token = os.getenv("ACCESS_TOKEN")
HOST = os.getenv("HOST")
POSTGRES_DB = os.getenv("POSTGRES_DB")
POSTGRES_USER = os.getenv("POSTGRES_USER")
POSTGRES_PASSWORD = os.getenv("POSTGRES_PASSWORD")


# configuarações de conexão com o banco de dados 
db_config = {
    "host": HOST,
    "database": POSTGRES_DB,
    "user": POSTGRES_USER,
    "password": POSTGRES_PASSWORD,
}

In [57]:
# Carregando dados do arquivo excel

caminho_arquivo_excel = r'../Data/Base/Envios Full.xlsx'

# planilha
nome_planilha = 'Relação Full x Tiny'

# features
col1 = 'Código ML' 
col2 = 'ID do anúncio'
col3 = 'ID Tiny'
col4 = 'SKU'
col5 = 'SKU Tiny'

df_codes = pd.read_excel(caminho_arquivo_excel, sheet_name=nome_planilha, usecols=[col1,col2,col3,col4,col5])

col = {'Código ML' : 'ml_inventory_id', 'ID do anúncio': 'ml_code', 'ID Tiny': 'tiny_id', 'SKU': 'ml_sku', 'SKU Tiny': 'tiny_sku'}

df_codes.rename(columns=col, inplace= True)

df_codes.shape

(885, 5)

In [58]:
df_codes.head(3)

              ml_sku ml_inventory_id    ml_code       tiny_sku    tiny_id
0  FULLP10NINJA10FTC       JFGN34621  924922735  7899028808537  509517168
1      P10LNINJA10FT       ERIM51807  949788598  7899028824407  598796832
2    FULLLWNINJA10FT       HVCS52763  950214971  7899028808773  565287467

### Adicionando prefixo MLB na coluna 'ml_code'

In [59]:
df_codes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 885 entries, 0 to 884
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ml_sku           883 non-null    object
 1   ml_inventory_id  767 non-null    object
 2   ml_code          885 non-null    int64
 3   tiny_sku         884 non-null    object
 4   tiny_id          885 non-null    int64
dtypes: int64(2), object(3)
memory usage: 34.7+ KB

In [60]:
df_codes['ml_code'] = df_codes['ml_code'].apply(str)
df_codes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 885 entries, 0 to 884
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ml_sku           883 non-null    object
 1   ml_inventory_id  767 non-null    object
 2   ml_code          885 non-null    object
 3   tiny_sku         884 non-null    object
 4   tiny_id          885 non-null    int64
dtypes: int64(1), object(4)
memory usage: 34.7+ KB

In [61]:
df_codes['ml_code'] = 'MLB' + df_codes['ml_code']
df_codes.head(1)

              ml_sku ml_inventory_id       ml_code       tiny_sku    tiny_id
0  FULLP10NINJA10FTC       JFGN34621  MLB924922735  7899028808537  509517168

In [62]:
df_codes.shape

(885, 5)

### Tratando dados duplicados

In [63]:
duplicates = df_codes.duplicated()
n_dup = duplicates.sum()

print(f'Número de duplicatas: {n_dup}')

duplicates = df_codes[df_codes.duplicated(keep=False)]

duplicates

Número de duplicatas: 7

,ml_sku,ml_inventory_id,ml_code,tiny_sku,tiny_id
52,CTX3000SIMPLES,KVWJ40778,MLB1233445054,4971850349099,506979980
53,CTX3000SIMPLES,KVWJ40778,MLB1233445054,4971850349099,506979980
252,FULLORIONSP18CH,OFYI79568,MLB1509021649,7898608741905,561968045
253,FULLORIONSP18CH,OFYI79568,MLB1509021649,7898608741905,561968045
269,FULLORIONSPX15HH,WXUT79339,MLB1512798100,7898608740991,681951269
270,FULLORIONSPX15HH,WXUT79339,MLB1512798100,7898608740991,681951269
272,FULLORIONSP16CHH,TDFP80328,MLB1512860650,7898608741899,561967156
273,FULLORIONSP16CHH,TDFP80328,MLB1512860650,7898608741899,561967156
285,FULLTAGIMA27KCOMCAPA,DUCB06017,MLB1557290709,7898563978156,512617044
286,FULLTAGIMA27KCOMCAPA,DUCB06017,MLB1557290709,7898563978156,512617044
287,FULLTAGIMA27KCOMCAPAC,SSBF06040,MLB1557306058,7898563978156,512617044
288,FULLTAGIMA27KCOMCAPAC,SSBF06040,MLB1557306058,7898563978156,512617044
744,FULLC4RH16,IYUQ71257,MLB2192258271,7891088100057,737198870
745,FULLC4RH16,IYUQ71257,MLB2192258271,7891088100057,737198870

In [64]:
df_codes = df_codes.drop_duplicates()
df_codes.shape

(878, 5)

In [65]:
df_codes.head(3)

              ml_sku ml_inventory_id       ml_code       tiny_sku    tiny_id
0  FULLP10NINJA10FTC       JFGN34621  MLB924922735  7899028808537  509517168
1      P10LNINJA10FT       ERIM51807  MLB949788598  7899028824407  598796832
2    FULLLWNINJA10FT       HVCS52763  MLB950214971  7899028808773  565287467

In [66]:
## Removendo NaN da coluna de ml_inventory_id

df_codes = df_codes.dropna()
df_codes

,ml_sku,ml_inventory_id,ml_code,tiny_sku,tiny_id
0,FULLP10NINJA10FTC,JFGN34621,MLB924922735,7899028808537,509517168
1,P10LNINJA10FT,ERIM51807,MLB949788598,7899028824407,598796832
2,FULLLWNINJA10FT,HVCS52763,MLB950214971,7899028808773,565287467
3,FULLLWNINJA15FT,ZQIV51979,MLB950295475,7899028808780,565409748
4,FULLLWNINJA20FT,RBUB53192,MLB950295955,7899028808797,566317152
...,...,...,...,...,...
804,FULLLIVERPOOLPML001V,PPWL59058,MLB2986538160,7897937427849,698412771
805,FULLLIVERPOOLPML001A,RXXA58942,MLB2986538160,7897937427696,698412706
806,FULLKIT02,POTW78210,MLB3106901850,alçaalmofadada,603940689
807,FULLKIT02,POTW78210,MLB3106901850,RH-01BK,746248920
811,C4CW40,UCQQ19395,MLB3288695231,7898672372562,754800410

In [68]:
df_ml_codes = df_codes[['ml_code','ml_sku','ml_inventory_id']]
df_ml_codes

           ml_code                ml_sku ml_inventory_id
0     MLB924922735     FULLP10NINJA10FTC       JFGN34621
1     MLB949788598         P10LNINJA10FT       ERIM51807
2     MLB950214971       FULLLWNINJA10FT       HVCS52763
3     MLB950295475       FULLLWNINJA15FT       ZQIV51979
4     MLB950295955       FULLLWNINJA20FT       RBUB53192
..             ...                   ...             ...
804  MLB2986538160  FULLLIVERPOOLPML001V       PPWL59058
805  MLB2986538160  FULLLIVERPOOLPML001A       RXXA58942
806  MLB3106901850             FULLKIT02       POTW78210
807  MLB3106901850             FULLKIT02       POTW78210
811  MLB3288695231                C4CW40       UCQQ19395

[757 rows x 3 columns]

In [69]:
df_ml_codes = df_ml_codes.drop_duplicates()
df_ml_codes.shape

(608, 3)

## Populando tabela tiny_ml_codes no DB

In [73]:

# Ela contém a relação entre tiny_id e inventory_id do ML 
# e não permite pares de valores duplicados entre (ml_inventory_id, tiny_id)

conn = psycopg2.connect(**db_config)

cursor = conn.cursor()

for index, row in df_ml_codes.iterrows():
    insert_query = sql.SQL("INSERT INTO ml_codes (ml_inventory_id, ml_code, ml_sku) VALUES (%s, %s, %s)")
    cursor.execute(insert_query, (row['ml_inventory_id'], row['ml_code'], row['ml_sku']))

conn.commit()

# Feche o cursor e a conexão
cursor.close()
conn.close()
print('Dados inseridos com sucesso!')

UniqueViolation: duplicate key value violates unique constraint "ml_codes_pkey"
DETAIL:  Key (ml_inventory_id)=(NQUG25995) already exists.

In [74]:
id = 'NQUG25995'
x = df_ml_codes[df_ml_codes['ml_inventory_id'] == id]
x

           ml_code         ml_sku ml_inventory_id
86   MLB1407949289  FULLMAPEXH600       NQUG25995
162  MLB1459771919  FULLMOOERM018       NQUG25995

In [78]:
id = 'NQUG25995'
x = df_ml_codes[df_ml_codes['ml_inventory_id'] == id]
x

           ml_code         ml_sku ml_inventory_id
86   MLB1407949289  FULLMAPEXH600       NQUG25995
162  MLB1459771919  FULLMOOERM018       NQUG25995

In [79]:
# Verificar duplicatas apenas na coluna 'ml_inventory_id'
dup = df_ml_codes[df_ml_codes['ml_inventory_id'].duplicated()]

# Exibir os valores duplicados na coluna 'ml_inventory_id'
print("Valores Duplicados na coluna 'ml_inventory_id':")
dup.to_excel('dados_duplicados.xlsx')

Valores Duplicados na coluna 'ml_inventory_id':

In [52]:
valores_unicos_duplicatas = dup[dup.duplicated(subset=['ml_inventory_id'], keep=False)].drop_duplicates(subset=['ml_inventory_id'])
valores_unicos_duplicatas

,ml_sku,ml_inventory_id,ml_code,tiny_sku,tiny_id
442,FULLKIT01,JDTL81315,MLB1813530858,Palheta,565665071
446,FULLKIT01,FTGG16520,MLB1814087324,Palheta,565665071
450,FULLGIANNINICS14EPNS,ZDLT16176,MLB1814290902,AFINADORKIT,597415799
466,FULLKIT02,KKOU90189,MLB1937452277,RH-01GD,746248995
474,FULLKITPPPCA,WQLG77218,MLB1942106803,Palheta,565665071
478,FULLKIT1,DMTU81740,MLB1943181299,Palheta,565665071
483,FULLKIT3,KMCE82136,MLB1943185413,Palheta,565665071
488,FULLKIT2,FSNB76403,MLB1943185424,Palheta,565665071
493,FULLKITCACPPP,ITDN80392,MLB1945629366,Palheta,565665071
509,FULLKIT03,ZEWV91930,MLB1976555976,Palheta,565665071
513,FULLBASSONYPER07KIT,NKRN92702,MLB1977127000,Palheta,565665071
517,FULLBASSOCLA01KIT,JAOF95919,MLB1979420955,Palheta,565665071
525,FULLBASSOCLA04KIT,AOLT03050,MLB1991139259,Palheta,565665071
543,"FULLLIVERPOOLNI1X(5A,5B,7A)M",TNXB03680,MLB1992889189,7897937421021,735947207
548,FULLBASSOCLA03KIT,JKBQ98755,MLB1993044887,Palheta,565665071
554,FULLBASSOCLA05KIT,IYUQ03362,MLB2000350479,Palheta,565665071
559,FULLBASSOCLA09KIT,QRSL03944,MLB2000967077,Palheta,565665071
563,FULLBASSOCLA13KIT,WEPI04061,MLB2000969658,Palheta,565665071
569,FULLBASSOCLA14KIT,PNZZ04589,MLB2001019290,Palheta,565665071
574,FULLBASSOCLA25KIT,YZGH03888,MLB2001037689,Palheta,565665071
579,FULLBASSOCLA26KIT,THQG04019,MLB2001059333,Palheta,565665071
583,FULLBASSOCLA100JESUSMARROMKIT,HKMH99637,MLB2001098672,Palheta,565665071
588,FULLBASSOCLAPEIXEJESUSMARROMKIT,YRHK04781,MLB2001108489,Palheta,565665071
594,FULLBASSOCLAPEIXEJESUSPRETOKIT,JDOJ98857,MLB2001122166,Palheta,565665071
598,FULLBASSOCLACRISTOSALVAMARROMKIT,VAJM34569,MLB2001139731,Palheta,565665071
603,FULLBASSOCLACRISTOSALVAPRETOKIT,NTFP39349,MLB2001169495,Palheta,565665071
610,FULLBASSOCLA100JESUSPRETOKIT,ZJTW10331,MLB2001229531,Palheta,565665071
614,FULLBASSOSF106KIT,QCVC39144,MLB2003129630,Palheta,565665071
619,FULLBASSOSF84KIT,OKDI38047,MLB2003184492,Palheta,565665071
625,FULLBASSOSF105KIT,WJIT31909,MLB2003218577,Palheta,565665071
630,FULLBASSOVTFL02KIT,QZJR06663,MLB2003231303,Palheta,565665071
634,FULLBASSOVTFL03KIT,TIOX11058,MLB2003244998,Palheta,565665071
639,FULLBASSOVTSL53KIT,HGRL10383,MLB2003270402,Palheta,565665071
644,FULLBASSOVTFL01KIT,DHEV27121,MLB2003287174,Palheta,565665071
648,FULLBASSOVTSL53KIT,BZEY80870,MLB2004757564,Palheta,565665071
652,FULLBASSOVTSL82KIT,MSPZ76749,MLB2004757564,Palheta,565665071
656,FULLBASSOVTSL87KIT,NJRG06721,MLB2004757564,Palheta,565665071
660,FULLBASSOVTSL52KIT,RTIZ80917,MLB2004757564,Palheta,565665071
664,FULLBASSOVTSL83KIT,YUZF74492,MLB2004757564,Palheta,565665071
669,FULLBASSOVTSL52KIT,ESVG06709,MLB2004830631,Palheta,565665071
680,FULLBASSONY07100%JESUSKIT,EATC35944,MLB2006125704,Palheta,565665071
684,FULLBASSONY07CRISTOSALVAKIT,TIOX38546,MLB2006294912,Palheta,565665071
688,FULLBASSOVTL01KIT,NZGA07022,MLB2006323551,Palheta,565665071
692,FULLBASSOVTL02KIT,FZQP10396,MLB2006333696,Palheta,565665071
697,FULLBASSODG04KIT,GSZI06869,MLB2006338758,Palheta,565665071
705,FULLBASSOECO02KIT,HFEB10246,MLB2006360215,Palheta,565665071
726,FULLLIVERPOOL2NI5AM2NI5BM2NI7AM,HSDO37848,MLB2075516288,7897937421021,735947207
786,FULLVANDOREN2SR212,EIPZ51427,MLB2770292345,7897626822115,748837541
791,FULLVANDOREN1SR272,BXUC56742,MLB2774332756,7897626822344,748836965

In [53]:
lista_coluna1 = dup['ml_inventory_id'].tolist()

# Exibir a lista resultante
print("Lista da coluna 'coluna1':")
print(lista_coluna1)

Lista da coluna 'coluna1':
['NQUG25995', 'FFIA05428', 'DZVJ05686', 'OVRP11252', 'DGLC87134', 'YNOM43193', 'JDTL81315', 'JDTL81315', 'JDTL81315', 'FTGG16520', 'FTGG16520', 'FTGG16520', 'ZDLT16176', 'ZDLT16176', 'ZDLT16176', 'UCDR32919', 'KKOU90189', 'KKOU90189', 'KKOU90189', 'BOZK72331', 'WQLG77218', 'WQLG77218', 'WQLG77218', 'DMTU81740', 'DMTU81740', 'DMTU81740', 'DMTU81740', 'KMCE82136', 'KMCE82136', 'KMCE82136', 'KMCE82136', 'FSNB76403', 'FSNB76403', 'FSNB76403', 'FSNB76403', 'ITDN80392', 'ITDN80392', 'ITDN80392', 'ITDN80392', 'ZEWV91930', 'ZEWV91930', 'ZEWV91930', 'NKRN92702', 'NKRN92702', 'NKRN92702', 'JAOF95919', 'JAOF95919', 'JAOF95919', 'AOLT03050', 'AOLT03050', 'AOLT03050', 'TNXB03680', 'TNXB03680', 'JKBQ98755', 'JKBQ98755', 'JKBQ98755', 'IYUQ03362', 'IYUQ03362', 'IYUQ03362', 'QRSL03944', 'QRSL03944', 'QRSL03944', 'WEPI04061', 'WEPI04061', 'WEPI04061', 'PNZZ04589', 'PNZZ04589', 'PNZZ04589', 'YZGH03888', 'YZGH03888', 'YZGH03888', 'THQG04019', 'THQG04019', 'THQG04019', 'HKMH99637', 'HKMH99637', 'HKMH99637', 'YRHK04781', 'YRHK04781', 'YRHK04781', 'JDOJ98857', 'JDOJ98857', 'JDOJ98857', 'VAJM34569', 'VAJM34569', 'VAJM34569', 'NTFP39349', 'NTFP39349', 'NTFP39349', 'ZJTW10331', 'ZJTW10331', 'ZJTW10331', 'QCVC39144', 'QCVC39144', 'QCVC39144', 'OKDI38047', 'OKDI38047', 'OKDI38047', 'WJIT31909', 'WJIT31909', 'WJIT31909', 'QZJR06663', 'QZJR06663', 'QZJR06663', 'TIOX11058', 'TIOX11058', 'TIOX11058', 'HGRL10383', 'HGRL10383', 'HGRL10383', 'DHEV27121', 'DHEV27121', 'DHEV27121', 'BZEY80870', 'BZEY80870', 'BZEY80870', 'MSPZ76749', 'MSPZ76749', 'MSPZ76749', 'NJRG06721', 'NJRG06721', 'NJRG06721', 'RTIZ80917', 'RTIZ80917', 'RTIZ80917', 'YUZF74492', 'YUZF74492', 'YUZF74492', 'ESVG06709', 'ESVG06709', 'ESVG06709', 'EATC35944', 'EATC35944', 'EATC35944', 'TIOX38546', 'TIOX38546', 'TIOX38546', 'NZGA07022', 'NZGA07022', 'NZGA07022', 'FZQP10396', 'FZQP10396', 'FZQP10396', 'GSZI06869', 'GSZI06869', 'GSZI06869', 'HFEB10246', 'HFEB10246', 'HFEB10246', 'QGSQ77698', 'JICW37518', 'HSDO37848', 'HSDO37848', 'MKVU37659', 'PQCQ36986', 'EIPZ51427', 'EIPZ51427', 'EIPZ51427', 'EIPZ51427', 'BXUC56742', 'BXUC56742', 'BXUC56742', 'BXUC56742', 'POTW78210']

In [54]:
len(lista_coluna1)

164

In [48]:
dup['ml_inventory_id'].value_counts()

ml_inventory_id
KMCE82136    4
DMTU81740    4
FSNB76403    4
ITDN80392    4
EIPZ51427    4
            ..
YNOM43193    1
DGLC87134    1
OVRP11252    1
DZVJ05686    1
POTW78210    1
Name: count, Length: 62, dtype: int64